body{
    background-color: #F3AC3C;
    margin: 0;
    width: 400px;
    height: 300px;
}


div{
    background-color: #1A4341;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div::before{
    content: "";
    position: absolute;
    background-color: #998235;
    top: 50%;
    width: 300px;
    height: 300px;
}

div::after{
    content: "";
    position: absolute;
    background-color: #F3AC3C;
    top: 75%;
    left: 25%;
    width: 150px;
    height: 150px;
}
