*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background: linear-gradient(to bottom,
    #F7EC7D 16.6%, #E38F66 16.6%, #E38F66 33.2%, #AA445F 33.2%, #AA445F 66.5%, #62306D 66.5%);
    width: 100%;
    height: 188.2px;
  }
  